/* Formulario */
.inputdiv{
    margin-top: 10%;

    
    

    width: 100%;
    height: 600px;
    
    
    background: url(../../styles/images/chikorita.png) no-repeat;
    background-size: 40%;
    background-position: 100% 15%;
    
}
.h3contact{
    margin-left: 19%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
}
.formbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form{
    border-radius: 15px;
    width: 40%;
    margin-top: 2%;
    margin-left: 70px;
}
.send{
    margin-top: 2%;
    margin-left: 22%;
    border-radius: 50px;
    background: #7bcbab;
    padding: 10px 30px;
    border: solid #1c7474 2px;
    font-size: 20px ;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 768px){
    .inputdiv{
        background-position: 100% 30%;
    }
}